.wrapper
    max-width: 100%
.container
    margin-bottom: 1rem;

footer.footer
    position: fixed; 
    bottom: 0;
    width: 100%;
    background-color: #ddd;

footer>p     
    text-align: center; 
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;  
