.wrapper
    max-width: 100%
    background-image: url('../img/bg.jpg')
    background-position: center
    background-attachment: fixed
    background-repeat: no-repeat
    background-size: cover
    background-color: #cccccc
    min-height: 100vh
    font-family: "montserrat-medium", sans-serif

.overlay
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    // opacity: 1
    background-color: #151515

.container
    margin-bottom: 1rem
    margin-top: 1.5rem

.sticky
    position: sticky
    z-index: 10
    top: 5vh
    right: 10px

div.add-task
    border: 0
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)
    margin-bottom: 3rem

div.list
    border: 0
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)
    // min-height: 200vh
    position: relative

div.counter
    border: 0
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)
    .card-body
        text-align: center

// .del-task
//     &:hover
//          width: 100%
//          background-color: #ddd

.ripple
    position: relative
    overflow: hidden
    transform: translate3d(0, 0, 0)

    &:after
        content: ""
        display: block
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
        pointer-events: none
        background-image: radial-gradient(circle, #000 10%, transparent 10.01%)
        background-repeat: no-repeat
        background-position: 50%
        transform: scale(10, 10)
        opacity: 0
        transition: transform .5s, opacity 1s

    &:active:after
        transform: scale(0, 0)
        opacity: .2
        transition: 0s

button.btn
    &:focus, &:active:focus
        outline: none
        box-shadow: none

.completed
    &:hover
        background-color: green
        color: white

footer.footer
    position: fixed
    bottom: 0
    width: 100%
    background-color: #17a2b8

footer>p     
    text-align: right
    margin-top: 0.3rem
    margin-bottom: 0.3rem
    font-size: 0.85rem
